/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SEQKIT_SLIDING {
        ext.args    = {"-s ${meta.sliding} -W ${meta.window} "}
    }

    withName: BLAST_CHUNK_TO_FULL {
        ext.args    = 'nucleotide'
    }

    withName: BLAST_MAKEBLASTDB {
        ext.args = { "-dbtype nucl" }
    }

    withName: '.*:.*:BLAST_BLASTN' {
        ext.args    = { '-outfmt "6 qseqid staxids bitscore std" -max_target_seqs 10 -max_hsps 1 -evalue 1e-25 -dust yes -lcase_masking' }
    }

    withName: '.*:.*:BLAST_BLASTN_MOD' {
        ext.args2   = { " | head -n1 " }
        ext.dbprefix= { ".[0-9]*\\.nin" }
    }

    withName: '.*:.*:(PLASTID_ORGANELLAR_BLAST|MITO_ORGANELLAR_BLAST):BLAST_BLASTN' {
        ext.args    = { "-task megablast -word_size 28 -best_hit_overhang 0.1 -best_hit_score_edge 0.1 -dust yes -evalue 0.0001 -perc_identity 80 -soft_masking true -outfmt 7" }
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir  = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: KRAKEN2_KRAKEN2 {
        ext.args    = { "--report-zero-counts --use-names --memory-mapping" }
    }

    withName: FCS_FCSADAPTOR_PROK {
        ext.args    = "--prok"
        ext.prefix  = { "${meta.id}_prok" }
    }

    withName: FCS_FCSADAPTOR_EUK {
        ext.args    = "--euk"
        ext.prefix  = { "${meta.id}_euk" }
    }

    withName: SED_SED {
        ext.prefix  = { "${meta.id}_fixed" }
        ext.args    = " -e '/>/s/ //g' "
    }

    withName: '.*:.*:GENERATE_GENOME:GNU_SORT' {
        ext.prefix  = { "${meta.id}_sorted"}
        ext.args    = { '-k2,2 -nr' }
    }

}
