/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow production config file for running production work for sanger-tol
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/ascc -profile sanger-tol,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name                 = 'Sanger-ToL Production Profile'
    config_profile_description          = 'Production profile for Sanger-ToL infrastructure to make make lives easier!'

    // all available methods
    // "pca,umap,t-sne,isomap,lle_standard,lle_hessian,lle_modified,mds,se,random_trees,kernel_pca,pca_svd,autoencoder_sigmoid,autoencoder_linear,autoencoder_selu,autoencoder_relu,nmf"

    // Effectively replaces the Static.config
    pacbio_barcode_file                 = "${projectDir}/assets/pacbio_adaptors.fa"
    pacbio_barcode_names                = "bc2001,bc2009"
    kmer_length                         = 7
    nt_database_path                    = "/data/tol/resources/nt/latest/"
    nt_database_prefix                  = "nt"
    nt_kraken_database_path             = "/data/tol/resources/nt_kraken2/latest"
    ncbi_taxonomy_path                  = "/data/tol/resources/taxonomy/latest/new_taxdump"
    ncbi_ranked_lineage_path            = "/data/tol/resources/taxonomy/latest/new_taxdump/rankedlineage.dmp"
    busco_lineages_folder               = "/data/tol/resources/busco/latest/"
    fcs_gx_database_path                = "/tmp/tol_data/fcs-gx/2023-01-24/"
    vecscreen_database_path             = "/data/tol/resources/ascc_vecscreen/"
    diamond_uniprot_database_path       = "/data/tol/resources/uniprot_reference_proteomes/latest/reference_proteomes.dmnd"
    diamond_nr_database_path            = "/data/tol/resources/nr/latest/nr.dmnd"
    seqkit_sliding                      = 100000
    seqkit_window                       = 6000
    n_neighbours                        = 13
    btk_yaml                            = "${projectDir}/assets/btk_draft.yaml"

    // These are the internally agreed upon subworkflows which are used
    // for sanger decontamination.
    run_essentials                      = "both"
    run_kmers                           = "off"
    run_tiara                           = "genomic"
    run_coverage                        = "both" //both
    run_nt_blast                        = "off" //both
    run_nr_diamond                      = "off" //both
    run_uniprot_diamond                 = "off" //both
    run_kraken                          = "off" //both
    run_fcsgx                           = "genomic" //both
    run_fcs_adaptor                     = "off" //both
    run_vecscreen                       = "off" //both
    run_btk_busco                       = "off" //genomic
    run_pacbio_barcodes                 = "off" //both
    run_organellar_blast                = "off" //genomic
    run_autofilter_assembly             = "genomic" //genomic
    run_create_btk_dataset              = "off"
    run_merge_datasets                  = "off"

}
