/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow production config file for running production work for sanger-tol
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/ascc -profile sanger-tol,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name                 = 'Sanger-ToL Production Profile'
    config_profile_description          = 'Production profile for Sanger-ToL infrastructure to make make lives easier!'

    // all available methods
    // "pca,umap,t-sne,isomap,lle_standard,lle_hessian,lle_modified,mds,se,random_trees,kernel_pca,pca_svd,autoencoder_sigmoid,autoencoder_linear,autoencoder_selu,autoencoder_relu,nmf"

    // Effectively replaces the Static.config
    pacbio_barcode_file                 = "${baseDir}/assets/pacbio_adaptors.fa"
    kmer_length                         = 7
    nt_database_path                    = "/data/blastdb/Supported/NT/current/"
    nt_database_prefix                  = "nt"
    nt_kraken_database_path             = "/lustre/scratch123/tol/resources/nt_kraken2/latest"
    ncbi_taxonomy_path                  = "/lustre/scratch123/tol/resources/taxonomy/latest/new_taxdump"
    ncbi_ranked_lineage_path            = "/lustre/scratch123/tol/resources/taxonomy/latest/new_taxdump/rankedlineage.dmp"
    busco_lineages_folder               = "/lustre/scratch123/tol/resources/busco/latest/"
    fcs_gx_database_path                = "/tmp/tol_data/fcs-gx/2023-01-24/"
    vecscreen_database_path             = "/lustre/scratch123/tol/teams/tola/users/ea10/ascc_databases/vecscreen_database/"
    diamond_uniprot_database_path       = "/lustre/scratch123/tol/resources/uniprot_reference_proteomes/latest/reference_proteomes.dmnd"
    diamond_nr_database_path            = "/lustre/scratch123/tol/resources/nr/latest/nr.dmnd"
    seqkit_sliding                      = 100000
    seqkit_window                       = 6000
    n_neighbours                        = 13
    btk_yaml                            = "${baseDir}/assets/btk_draft.yaml"

    run_essentials                      = "both"
    run_kmers                           = "genomic"
    run_tiara                           = "both"
    run_coverage                        = "both"
    run_nt_blast                        = "both"
    run_nr_diamond                      = "both"
    run_uniprot_diamond                 = "both"
    run_kraken                          = "both"
    run_fcsgx                           = "genomic"
    run_fcs_adaptor                     = "both"
    run_vecscreen                       = "both"
    run_btk_busco                       = "genomic"
    run_pacbio_barcodes                 = "both"
    run_organellar_blast                = "genomic"
    run_autofilter_assembly             = "genomic"
    run_create_btk_dataset              = "both"
    run_merge_datasets                  = "genomic"

}
