<div class="narrow-table-wrapper">
<h2>FCS-adaptor</h2>
<div class="narrow-text-container">
<p>FCS-adaptor is NCBI software for detecting adapter contamination in genome assemblies. It uses a built-in database of adapter sequences provided by NCBI. The report shows identified potential locations of retained adapter sequences from the sequencing run, which should be removed from the final assembly.</p>
</div>
<h3>Eukaryotic Adaptors</h3>
{{ fcs_adaptor_euk_report_data }}
<h3>Prokaryotic Adaptors</h3>
{{ fcs_adaptor_prok_report_data }}
</div>
