<h2>Input Files</h2>
<p>This section displays the input files and parameters used for the ASCC pipeline run, including the samplesheet, configuration parameters, and assembly statistics. The assembly statistics provide an overview of the genome assembly's size and composition.</p>

{% if samplesheet_data is defined and samplesheet_data %}
    <h3>Input Samplesheet</h3>
    <div class="table-responsive">
        <div class="table-wrapper">
            {{ samplesheet_data }}
        </div>
    </div>
{% endif %}

{% if yaml_params_data is defined and yaml_params_data %}
    <h3>Input Parameters</h3>
    <div class="table-responsive">
        <div class="table-wrapper">
            {{ yaml_params_data }}
        </div>
    </div>
{% endif %}

<h3>Assembly Statistics</h3>
{% if reference_summary %}
    {{ reference_summary }}
{% else %}
    <p>No assembly statistics available.</p>
{% endif %}

{% if fasta_sanitation_data %}
    <h3>FASTA Sanitation</h3>
    {{ fasta_sanitation_data.html }}
{% endif %}
