{% from "_macros.html.jinja" import source_files %}

<div class="narrow-table-wrapper">
<h2>Autofiltering of the Assembly Based on FCS-GX and Tiara Results</h2>
<div class="narrow-text-container">
<p>Autofiltering produces a decontaminated genome file based on the results of FCS-GX and Tiara analyses. Sequences deemed as contamination by FCS-GX (labeled with the EXCLUDE tag) are removed from the assembly. This section provides summaries of the contamination found and the sequences that were removed during the filtering process.</p>
</div>

{{ source_files(autofilter_file) }}

{{ autofiltering_data }}
</div>
