<h2>Autofiltering of the assembly based on FCS-GX and Tiara results</h2>
<p>Autofiltering produces a decontaminated genome file based on the results of FCS-GX and Tiara analyses. Sequences deemed as contamination by FCS-GX (labeled with the EXCLUDE tag) are removed from the assembly. This section provides summaries of the contamination found and the sequences that were removed during the filtering process.</p>
{{ autofiltering_data }}
