<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASCC run report</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  
    <script>
    $(document).ready( function () {
        $('#cobiont_check_merged_table').DataTable();
        $('#autofiltering_table').DataTable();
    } );
    </script>
</head>
<body>
    <body style="font-family: sans-serif">

    <h1>ASCC run report</h1>
    <h2>PacBio barcodes check</h2>
    {{ barcodes_check_data }}
    <br>
    <h2>FCS-adaptor</h2>
    <h3>Eukaryotic adaptors</h3>
    {{ fcs_adaptor_euk_report_data }}
    <h3>Prokaryotic adaptors</h3>
    {{ fcs_adaptor_prok_report_data }}
    <br>
    <h2>Trimming of trailing Ns</h2>
    {{ trim_Ns_data }}
    <br>
    <h2>VecScreen</h2>
    {{ vecscreen_data }}
    <br>
    <h2>Autofiltering of the assembly based on FCS-GX and Tiara results</h2>
    {{ autofiltering_data }}
    <br>
    <h2>Coverage per phylum, based on the mapping of PacBio reads to the assembly</h2>
    {{ coverage_per_phylum_data }}
    <br>
    <h2>Cobiont check merged table</h2>
    {{ contamination_check_merged_table_data }}
    {# a comment #}
    
</body>
</html>


