conda {
    enabled = true
}

// Define input parameters
params.genome_fasta = "${projectDir}/GCF_000005845.2_ASM584v2_genomic.fna.gz"
params.sourmash_databases = ["${projectDir}/db/gtdb_k21_k31_k51_s200_batch_1.zip", "${projectDir}/db/gtdb_k21_k31_k51_s200_batch_2.zip"]
params.assembly_taxa_db = "${projectDir}/db/ascc_sourmash_test_subset_taxa.csv"
params.target_taxa = "order:Enterobacterales"
params.outdir = './results'
params.k = 21
params.s = 1000

process {
  withName: 'SOURMASH_SKETCH' {
    ext.args = { "dna --param-string \'scaled=${params.s},k=${params.k}\' --singleton" }
  }
  withName: 'CAT_CAT' {
    ext.prefix = { "${meta.id}.multisearch_merged.csv" }
  }
}
