trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/SummaryStats_${params.trace_report_suffix}.txt"
    fields  = "task_id,hash,name,status,queue,host_name,attempt,exit,cpu_model,cpus,memory,%cpu,%mem,rss,peak_rss,vmem,peakvmem,start,complete,realtime,duration
    sep     = "\t"
    override= true
}
